body {
	font-family: 'Handlee', cursive;
	background-image: url("./Assets/mosaic-3394375_1920.jpg");
	color: #713949;
}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-image: url(./Assets/blue-2721464_1920.jpg);
	color: white;
	text-align: center;
	font-style: bold;
	font-size: 17px;
}

.navbar {
	background-image: url("./Assets/blue-2721464_1920.jpg");
}

.navbar-brand {
	text-align: center;

	margin: 10px;
}

a:hover {
	font-size: 20px;
}

.btn-link {
	background-color: #4eaaaa;
	color: white;
	width: 100%;

	margin: 5px;
}

.btn-link:hover {
	background-color: #713949;
	color: white;
}

h2 {
	text-align: center;
}
