 body {
     background-image: url("./Assets/background.jpg");
     font-family: 'Handlee', cursive;

     height: 100%;
     /*background-color: skyblue;

  /* Center and scale the image */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

 }

 .navbar {
     background-image: url("./Assets/bluebackground.png");

 }

 .navbar-brand {
     text-align: center;


     margin: 10px;
 }


 a:hover {
     font-size: 30px;

 }

 .card-body {
     box-sizing: border-box;
     border: pink;
     padding: 10px;
     position: center;
     background-image: url(./Assets/bluebackground.png);

 }

 .card {
     margin-bottom: 50px;
     margin-top: 50px;
 }

 .btn-primary {
     background-color: white;
 }

 h1 {
     color: white;
 }

 img {
     border: solid pink 1px;
 }

 p {
     color: white;
 }

 #imageHome {
     border-radius: 50%;
     border: ridge pink;
     text-align: center;
 }

 .textWrap {
     float: left;
     margin: 5px;
     border-radius: 50%;
     border: ridge pink;

 }

 #paragraph1,
 #paragraph2 {
     text-align: justify;
     font-size: 30px;
     margin: 5px;
     color: white;
 }





 footer {

     left: 0;
     bottom: 0;
     width: 100%;
     height: 20px;
     background-color: white;
     color: pink;
     text-align: center;
     font-style: bold;
     font-size: 17px;
 }

 .right-align {}