 
 body {
     background-image: url("https://images.pexels.com/photos/4173624/pexels-photo-4173624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    
    }
    
.card-body {
    box-sizing: border-box; 
    margin-left: 0px; 
    padding: 10px; 
    margin-bottom: 0px;
    position: relative;
    float: left;
    background-color: black;
    
}
.card {
    margin-bottom: 50px;
    margin-top: 50px;
}

.btn-primary {
    background-color: pink;
}
h1 { 
    color: pink;
}

.navbar-brand {
    
    color: pink;
    margin: 10px;
}
a:hover{
    background-color: black;

}

img {
    border: solid pink 1px;
}

.textWrap {
        float: left;  
        margin: 5px; 
    } 

    #paragraph1 { 
        text-align: justify; 
        font-size: 25px; 
        margin: 5px;
    } 


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: pink;
    text-align: center;
}

@media screen and (max-width: 992px) {
    img {
      width: auto;
      height: auto;
    }
  }

  @media screen and (max-width: 768px) {
    img {
      width: auto;
      height: auto;
    }
  }

  @media screen and (max-width: 400px) {
    img {
      width: auto;
      height: auto;
    }
  }
 
  
  
    