
body {
	font-family: 'Josefin Slab', serif;
}



.welcome {
	color: #3a6beb;
	padding-right: 40px;
	padding-left: 40px;
}

.intro {
	text-align: center;
	color: #4eaaaa;
}

.intro-p {
	font-size: 30px;
	color: #3a6beb;
}

#connect {
	color: #713949;
}

.pic {
	/*float: left; */
	margin: auto;
	border-radius: 5%;
	border: solid #3a6beb;
	
	width: 450px;
	height: auto;
	
}


.about-me {
	text-align: justify;
	font-size: 30px;
	/* margin: 10px; */
	/* color: #014993; */
	color: #3a6beb;
	border-right: solid #3a6beb;

	width: 100%;
	padding: 30px;
	/* background-color: #713949; */
	/* border-radius: 50%; */
}

.paragraph2 {
	/* text-align: justify; */
	font-size: 30px;
	margin-right: 10px;
	color: #3a6beb;
	border-right: solid #3a6beb;
	
	width: 100%;
	padding: 10px;
	/* background-color: #713949; */
}

.about {
	border-bottom: 1px solid #3a6beb;
}




/**************Portfolio CSS********************/
#portfolio-body {
	background-image: url("./Assets/mosaic-3394375_1920.jpg");
	color: #713949;
}



.portfolio {
	margin-top: 100px;
}

.btn-link {
	background-color: #4eaaaa;
	color: white;
	width: 100%;

	margin: 5px;
}

.btn-link:hover {
	background-color: #713949;
	color: white;
}

h2 {
	text-align: center;
}

.image {
	width: 100%;
	height: 170px;
	border-radius: 10px;
	object-fit:cover;

  }
  /**************Contact CSS********************/

  #contact-body {
	background-image: url(./Assets/mosaic-3394375_1920.jpg);
	/* font-family: 'Handlee', cursive; */
	color: #713949;
}


.btn-primary {
	background-color: #4eaaaa;
}

.btn-primary:hover {
	/* font-size: 20px; */
	background-color: #713949;
}

.ccard-body {
	padding: 10px;
	position: center;
	/* background-color: #4eaaaa; */
}

.ccard {
	margin-top: 50px;

	/* background-color: #4eaaaa; */
}
.message-input{
	height: 130px;

}


  /************** Footer and Nav CSS *****************/


.navbar {
	background-image: url("./Assets/blue-2721464_1920.jpg");
}

.navbar-brand {
	text-align: center;
	font-size: 4rem;
	font-weight: bold;

	margin: 10px;
}
.navbar-brand:hover{
	font-size: 4.1rem;
}

.nav-link {
	font-size: 2.5rem;
}

.nav-link:hover{
	font-size: 3rem;
}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-image: url(./Assets/blue-2721464_1920.jpg);
	color: white;
	text-align: center;
	font-style: bold;
	font-size: 17px;
}


  

